.hig{
    color: rgb(255,69,58); /*red*/
    color: rgb(255,159,10); /*orange*/
    color: rgb(255,214,10); /*yellow*/
    color: rgb(50,215,75); /*green*/
    color: rgb(10,132,255); /*blue*/
    color: rgb(255,55,95); /*pink*/
    color: rgb(90,200,245); /*cyan*/
    color: rgb(94,92,230); /*indigo*/
}
